.text-container {
  padding: 1rem;
  width: 100vw;
  height: 100vh;
}

.text-wrapper {
  width: 50%;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin: 5rem auto;
  background-color: white;
  border-radius: 0.5rem;
}

p {
  padding: 1.5rem;
  margin: auto auto 2rem auto;
}

.text-author {
  text-align: right;
  font-size: 1rem;
  margin: auto 10% 5% auto;
}

.button {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: 0.6rem;
  margin: auto auto 2rem auto;
}

.button:hover {
  opacity: 0.9;
}
